.App {
  font-family: "Hachi Maru Pop", cursive;
  display: flex;
  padding: 15px;
}
.App .Meta {
  flex-grow: 1;
  padding-right: 15px;
}
.App .Meta input {
  font-family: inherit;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.certificateWrapper {
  position: relative;
}

.p {
  font-family: "Staatliches", cursive;
  margin: 0;
  position: absolute;
  transform: translateX(-50%);
  margin-top: 20px;
  color: red;
  left: 50%;
  text-align: center;
  top: 330px;
  font-size: 20pt;
  white-space: nowrap;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
